In [1]:
# Importing pandas and numpy
import pandas as pd
import numpy as np

# Sample DataFrame with missing values
d = {'First Score': [100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score': [np.nan, 40, 80, 98]}
df = pd.DataFrame(d)

# Checking for missing values using isnull()
mv = df.isnull()

print(mv)

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [2]:
import pandas as pd
import numpy as np

# Sample DataFrame with missing values
d = {'First Score': [100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score': [np.nan, 40, 80, 98]}
df = pd.DataFrame(d)

# Checking for non-missing values using notnull()
nmv = df.notnull()

print(nmv)

   First Score  Second Score  Third Score
0         True          True        False
1         True          True         True
2        False          True         True
3         True         False         True

In [3]:
d = {'First Score': [100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score': [np.nan, 40, 80, 98]}
df = pd.DataFrame(d)

# Filling missing values with 0
df.fillna(0)

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

In [ ]:
# Creating a DataFrame
df = pd.DataFrame({
    'Date': ['11/8/2011', '04/23/2008', '10/2/2019'],
    'Event': ['Music', 'Poetry', 'Theatre'],
    'Cost': [10000, 5000, 15000]
})

# Display initial data types
print("Before Conversion:")
print(df.info())

# Converting 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Display data types after conversion
print("\nAfter Conversion:")
print(df.info())

Before Conversion:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
 1   Event   3 non-null      object
 2   Cost    3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None

After Conversion:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      datetime64[ns]
 1   Event   3 non-null      object
 2   Cost    3 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 204.0+ bytes
None

In [5]:
# Initializing the dataset
player_list = [
    ['200712', 50000],
    ['200714', 51000],
    ['200716', 51500],
    ['200719', 53000],
    ['200721', 54000],
    ['200724', 55000],
    ['200729', 57000]
]

# Creating a pandas DataFrame
df = pd.DataFrame(player_list, columns=['Dates', 'Patients'])

# Displaying the DataFrame and its data types before conversion
print("Before Conversion:")
print(df)
print(df.dtypes)

# Converting 'Dates' from 'yymmdd' to datetime format
df['Dates'] = pd.to_datetime(df['Dates'], format='%y%m%d')

# Displaying the DataFrame and its data types after conversion
print("\nAfter Conversion:")
print(df)
print(df.dtypes)

Before Conversion:
    Dates  Patients
0  200712     50000
1  200714     51000
2  200716     51500
3  200719     53000
4  200721     54000
5  200724     55000
6  200729     57000
Dates       object
Patients     int64
dtype: object

After Conversion:
       Dates  Patients
0 2020-07-12     50000
1 2020-07-14     51000
2 2020-07-16     51500
3 2020-07-19     53000
4 2020-07-21     54000
5 2020-07-24     55000
6 2020-07-29     57000
Dates       datetime64[ns]
Patients             int64
dtype: object

In [6]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'A': [1, 2],
    'B': [3, 4]
})

# Rename column 'A' to 'Alpha'
df_renamed = df.rename(columns={'A': 'Alpha'})

print(df_renamed)

   Alpha  B
0      1  3
1      2  4

In [7]:
# Rename row index 0 to 'first'
df_renamed = df.rename(index={0: 'first'})

print(df_renamed)

       A  B
first  1  3
1      2  4

In [8]:
df = pd.DataFrame({
    'ID': [101, 102, 103],
    'Name': ['Alice', 'Bob', 'Charlie']
})

# Set 'ID' as the index
df_indexed = df.set_index('ID')

print(df_indexed)

        Name
ID
101    Alice
102      Bob
103  Charlie

In [9]:
# Example DataFrame
df = pd.DataFrame({
    'date': ['2025-04-30', '2025-04-28', '2025-04-29'],
    'value': [10, 20, 30]
})

# Convert 'date' to datetime
df['date'] = pd.to_datetime(df['date'])

# Set 'date' as index
df = df.set_index('date')

print("Before sorting:")
print(df)

# Step 1: Sort by datetime index
df = df.sort_index()

print("\nAfter sorting:")
print(df)

# Step 2: Verify monotonicity
print("\nIs the index monotonically increasing?", df.index.is_monotonic_increasing)

Before sorting:
            value
date
2025-04-30     10
2025-04-28     20
2025-04-29     30

After sorting:
            value
date
2025-04-28     20
2025-04-29     30
2025-04-30     10

Is the index monotonically increasing? True